// Estilos para el detalle del pais
.back {
	background-color: $white;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	height: 6vh;
	display: flex;
	align-items: center;
	padding: 0 20px;
	border: transparent;
	cursor: pointer;
}
.back p{
	padding: 0 8px;
}
.country {
	padding-top: 2%;
	font-size: 16px;
}
.description__title {
	padding: 16px 0;
	margin: 16px 0;
	font-weight: 800;
}
.country__detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 4%;
}
.country__detail-flag {
	width: 40%;
}
.country__detail-text {
	width: 50%;
}
.country__detail-description {
	width: 70%;
	display: flex;
	justify-content: space-between;
}
.country__flag-img {
	width: 100%;
}
.description__elements p {
	padding: 8px 0;
}

// Estilos Modo oscuro

.dark-mode {
    .back {
		color: $white;
        background-color: $DarkBlueElements;
    }
}


// Responsive
@media (max-width: 768px) {
	.country {
		padding: 6% 2%;
	}
	.country__detail {
		flex-direction: column;
		padding-top: 4%;
	}
	.country__detail-flag {
		width: 100%;
	}
	.country__detail-text {
		width: 100%;
	}
	.country__detail-description {
		flex-direction: column;
	}
	.description__title {
		padding: 8px 0 0;
	}
	.description__elements{
		padding: 16px 0;
	}
}
