.flag__filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Estilos para el filtro por region
.flags__region{
    padding: 0 8px;
}
.flags__region--filter{
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 6vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border: transparent;
    cursor: pointer;
}

// Estilos para el buscador
.flags__search {
    margin: 8px;
    width: 40%;
}
.input-container {
    position: relative;
}

.flags__search--container {
    background-color: $white;
    width: 100%;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 6vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.flags__search-input {
    border: none; 
    padding: 0 16px; 
    width: 100%;
    height: 100%;
}

// // Estilos para la lista de paises
// .flags__dashboard {
//     width: 100%;
//     padding-top: 2%;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     list-style: none;
// }
// .flags__country {
//     width: 20%;
//     margin: 8px;
//     border-radius: 6px;
//     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
//     transform-origin: center;
//     transition: all 0.4s ease-in-out;
//     background-color: $white;
//     overflow: hidden;
// }
.country__article--figure {
    margin: 0;
    padding: 0;
}

.country__article-img {
    width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}
.article__heading {
    font-weight: 800;
}
.article__body {
    padding: 8px;
    margin: 8px;
    font-size: 14px;
}

.article__text {
    list-style: none;
    padding: 8px 0;
}

.article__text p{
    padding: 3px 0;
}


// Estilos Modo Oscuro
.dark-mode {
    color: $LightGrayBackground;
    main{
        background-color: $DarkBlueBackground;
    }
    .header{
        background-color: $DarkBlueElements;
    }
    .header__darkmode-text{
        color: $LightGrayBackground;
    }
    .material-symbols-outlined{
        color: $LightGrayBackground;
    }
    .flags__country {
        background-color: $DarkBlueElements;
    }
    .flags__search--container{
        background-color: $DarkBlueElements;
    }
    .flags__search-input{
        background-color: $DarkBlueElements;
    }
    .flags__region--filter{
        background-color: $DarkBlueElements;
        color: $LightGrayBackground;
    }
}
