// Estilos header
.header {
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 8px;
}
.header__title {
  font-size: 1.5rem;
  font-weight: 800;
}
.header__darkmode-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: $LightModeInput;
  }
}
.header__darkmode-text {
  margin-left: 8px;
  font-weight: 600;
}
.material-symbols-outlined {
  font-size: 1.4rem !important;
}


